/* about me section */
.aboutme_text {
  color: gray;
  font-size: 15px !important;
  line-height: 22px !important;
  white-space: pre-line !important;
}

/* end of about me */
/* timeline section */

.resumeTimeline .timeline_title {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.resumeTimeline .timeline_date {
  color: darkslategray;
}
.resumeTimeline .timeline_description {
  color: gray;
  font-size: 15px !important;
  margin-top: 6px;
  line-height: 22px !important;
  white-space: pre-line !important;
}

.school_major {
  /* color: darkslategray; */
  font-size: 15px !important;
  font-weight: 500 !important;
  white-space: pre-line !important;
}

/* skills */
.skill {
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 48px 0 rgba(4, 6, 4, 0.08) !important;
  min-width: 186px;
  height: 100%;
}
.skill .skill_title {
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 35px !important;
}
.skill .skill_description {
  font-size: 14px !important;
  display: flex;
  align-items: center;
  color: #989898 !important;
  font-weight: 400 !important;
  line-height: 18px !important;
}
.skill .skill_description .timeline_dot {
  border-color: var(--theme-color);
  padding: 2px !important;
  margin-right: 5px !important;
}
