:root {
  --theme-color: #ffc500;
}
.top_60 {
  margin-top: 60px !important;
}
@media (max-width: 991px) {
  .top_60 {
    margin-top: 30px !important;
  }
}

.top_30 {
  margin-top: 30px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.p_30 {
  padding: 30px !important;
}

.pb_45 {
  padding-bottom: 45px !important;
}

.pt_30 {
  padding-top: 30px;
}

.pt_45 {
  padding-top: 45px;
}

.container_shadow {
  box-shadow: 20px 20px 98px 0px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  /* width: 100%; */
  /* display: inline-block; */
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0 0 0 0 0.15);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.15);
}

.main_content {
  background-color: white;
  min-height: 100vh;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-bottom: 30px;
  /* padding: 30px; */
}

.section {
  padding-left: 30px;
  padding-right: 30px;
}

.section_title {
  position: relative;
  display: inline-block;
  padding: 0 3px;
}

.section_title .section_title_text {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  margin: 0;
}

.section_title span {
  position: absolute;
  height: 7px;
  width: 100%;
  bottom: 0;
  opacity: 0.4;
  left: 0;
  background-color: var(--theme-color);
}

.greybg {
  background-color: #fafafa;
}
